@use '../_variables' as *;

.AllProducts {
  flex: 1;
  width: 100%; // Ensures full width usage
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr)); // Better spacing
  gap: 15px;
  height: fit-content;
  margin: 10px auto;
  padding: 10px;

  @include mobile-only {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); // Adjust for smaller screens
    gap: 10px;
    margin: 5px auto;
  }
}

.AllProductShow-container {
  margin: 10px;
}

.Products-title {
  padding: 10px;
  font-size: medium;
  font-weight: 500;
}
