@use '../variables' as *;
.scroll-container{
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
  padding: 0 20px;
  width: 100%;
  &::-webkit-scrollbar {
    display: none;  // Hide scrollbar for WebKit browsers
  }
}

.product-grid {
  display: inline-flex;
  gap: 40px;
  padding: 40px ;
  max-width: max-content;

  @include mobile-only {
    grid-template-columns: 1fr;
    gap: 32px;
    padding: 20px;
  }

  @include tablet-only {
    grid-template-columns: repeat(2, 1fr);
    gap: 36px;
    padding: 30px;
  }

  @include desktop-only {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  @media (min-width: #{$breakpoint-xl}) {
    grid-template-columns: repeat(4, 1fr);
  }
}
.special-offers-container{
  background: #cdfdf7;
  padding: 2%;
  // margin: 5%;
  border-radius: 20px;
  // box-shadow: 0px 0px 50px #cdfdf7 ;
  }
  .special-offers-heading{
text-align: center;
font-weight: bolder;
font-size:xx-large;
  }