// Colors
$primary-color: #28a745;
$hover-color:#97ffafcb;
$secondary-color: #3e4152;
$white: #ffffff;
$black: #000000;
$gray-light: #f3f4f6;
$gray-dark: #4b5563;


// Breakpoints
$breakpoint-xs: 480px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

// Mixins for responsive design
@mixin mobile-only {
  @media (max-width: #{$breakpoint-sm - 1px}) {
    @content;
  }
}

@mixin tablet-only {
  @media (min-width: #{$breakpoint-sm}) and (max-width: #{$breakpoint-lg - 1px}) {
    @content;
  }
}

@mixin desktop-only {
  @media (min-width: #{$breakpoint-lg}) {
    @content;
  }
}

@mixin tablet-and-up {
  @media (min-width: #{$breakpoint-sm}) {
    @content;
  }
}

@mixin mobile-and-tablet {
  @media (max-width: #{$breakpoint-lg - 1px}) {
    @content;
  }
}

// Other
$border-radius: 8px;
$box-shadow: 0 2px 4px rgba($black, 0.1);